.streamlit/
app2.py
app3.py
add_location.py
areamapper_dashboard.html
AreaMapper_Routes.xlsx
CHEAT_SHEET.txt
export_excel.py
fetch_data.py
generate_map.py
hash_maker.py
insert_data_in_local.py
test_db.py
test.py
text_deliveries.xlsx
update_status.py

# Standard Python things to ignore
__pycache__/
*.pyc